.step-card {
    max-width: 280px;
    text-align: center;
  
    &__image-wrapper {
      position: relative;
      display: inline-block;
  
      .step-card__number {
        position: absolute;
        top: 8px;
        left: 8px;
        background: white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: 1px solid #ccc;
      }
    }
  
    &__image {
      width: 100%;
      border-radius: 12px;
    }
  
    &__description {
      display:flex;
      align-items: center;
      margin-top: 1rem;
      font-size: 14px;
      color: #444;
  
      p {
        margin-bottom: 0.5rem;
      }
  
      .step-card__product {
        height: 70px;
      }
    }
  }
  